<!DOCTYPE html>
<html>

<head>
    <title>Result</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
       <p> <%= result %> </p>
       <p>Fourchette de prix du m2 pour un(e) <%= typebien %> dans <%= ville %> : bas: <%= prixbas %> | moyen: <%= prixmoyen %> | haut: <%= prixhaut %></p>
       <p>Prix du m2 de l'annonce Le bon Coin: <%= prixm2 %></p>
</body>

</html>